.thanks__content {
    margin: 300px auto;
    padding: 0 auto;
    width: 1230px;
    text-align: center
}

.thanks__content p {
    font-weight: bolder;
}


.thanks__button button {
    width: 10%;
    padding: 10px 20px;
    border: none;
    background: darkgoldenrod;
    color: #ddd;
    font-size: large;
    font-weight: bold;
    content: center;
    cursor: pointer;

}